# Directories
/node_modules/
/logs/
/sprites/
/backup/

# File Extensions
*.log
*.png
*.jpg
*.sqlite_backup
*.json_backup
*.eslintrc.json

# Specific Files
settings.json
ignorelist.json
reputation.sqlite
